<%- include("partials/header") -%>
<h1
  id="about-h"
  style="
    font-size: 55px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    font-style: normal;
    width: 58%;
    text-align: center;
  "
>
  Hello - My name is <strong>Eden</strong>, i'm a full stack developer based in
  india and this is a selction of my <strong>personal</strong> and
  <strong>professional</strong> work.
</h1>
<div class="img7" style="margin-top: 100px; margin-left: 600px">
  <img
    src="/image/design7.jpg"
    alt="design7"
    style="height: 1000px; width: 700px"
  />
</div>
<%- include("partials/footer"); -%>
