<%- include("partials/header") -%>
<div class="contact-container">
  <h1 class="contact">Contact</h1>
</div>

<div class="contact-details">
  <h2 class="contact-text">
    If you want to collaborate on crafting amazing experience for people – you
    are very welcome to contact me.
  </h2>
  <br />
  <h2 class="contact-text2">
    I am available for freelance projects and full-time employment.
  </h2>
  <br />
  <span class="intro">Eden</span>
  <br />
  <br />
  <span></span>
  <a class="mail" href="mailto:edendattox@gmail.com"
    >Email: edendattox@gmail.com</a
  >
</div>

<div class="joker">
  <img src="image/joker.png" alt="joker" class="img8" />
</div>

<%- include("partials/footer") -%>

<style>
  .nav-design {
    margin-top: 130px;
  }

  .contact {
    font-size: 125px;
    letter-spacing: 3px;
    font-family: "Sacramento", cursive;
    text-align: center;
    position: relative;
    top: 50%;
  }

  .contact-container {
    width: 960px;
    height: 1000px;
    background-color: #292929;
    position: relative;
    left: 13px;
  }

  .contact-details {
    position: relative;
    width: 1070px;
    height: 1000px;
    background-color: #a4a4a4;
    left: 950px;
    bottom: 1000px;
  }

  .contact-text {
    font-family: "Dancing Script", cursive;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 26px;
    color: #e4e4e4;
  }

  .contact-text2 {
    position: relative;
    left: 10px;
    font-family: "Dancing Script", cursive;
    font-size: 26px;
    color: #e4e4e4;
  }

  .intro {
    font-family: "Great Vibes", cursive;
    position: relative;
    font-size: 80px;
    left: 40px;
    top: 50px;
  }

  .mail {
    position: relative;
    top: 60px;
    left: 40px;
    font-family: "Dancing Script", cursive;
    font-size: 26px;
    border-bottom: 0;
    text-decoration: none;
    color: #e4e4e4;
  }

  .img8 {
    position: relative;
    top: -820px;
    left: 700px;
    margin-bottom: -600px;
  }
</style>
