
<%- include("partials/header"); -%>


    <div class="text">
        <h1 class="text-design">CREATIVITY</h1>
        <p>The alternative to good design is always bad design. There is no such thing as no design.</p>
    </div>

    <div class="middle-container">
        <div class="design1">
        <img src="image/design1.jpg" alt="" class="img1">
        
        
        <div class="design1-text">
            <span class="temp1">01</span>
            <hr>
            <span class="temp1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique ea repudiandae optio, dignissimos quo explicabo necessitatibus praesentium 
                tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at 
                voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
                vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
                malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
                sem dolor ullamcorper lacus, vel tristique felis nunc in risus.</span>
        </div>
    </div>

    <div class="design2">
        <img src="image/design2.jpg" alt="" class="img2">
        <div class="design2-text">
            <span class="temp2">02</span>
            <hr>
            <span class="temp2-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique ea repudiandae optio, dignissimos quo explicabo necessitatibus praesentium 
                tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at 
                voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
                vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
                malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
                sem dolor ullamcorper lacus, vel tristique felis nunc in risus.</span>
        </div>
    </div>

    <div class="design3">
        <video autoplay loop src="video/video1.mp4" class="vid1"> </video>
        <div class="design3-text">
            <span class="temp3">03</span>
            <hr>
            <span class="temp3-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique ea repudiandae optio, dignissimos quo explicabo necessitatibus praesentium 
                tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at 
                voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
                vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
                malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
                sem dolor ullamcorper lacus, vel tristique felis nunc in risus.</span>
         </div>
       </div>
    
       <div class="design4">
        <img src="image/design3.jpg" alt="" class="img4">
        
        
        <div class="design4-text">
            <span class="temp4">04</span>
            <hr>
            <span class="temp4-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique ea repudiandae optio, dignissimos quo explicabo necessitatibus praesentium 
                tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at 
                voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
                vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
                malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
                sem dolor ullamcorper lacus, vel tristique felis nunc in risus.</span>
        </div>
    </div>

        <div class="design5">
            <img src="image/design4.jpg" class="img5" alt="...">
            <div class="design5-text">
                <span class="temp6">05</span>
                <hr>
                <span class="temp6-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Similique ea repudiandae optio, dignissimos quo explicabo necessitatibus praesentium 
                    tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at 
                    voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
                    vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
                    malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
                    sem dolor ullamcorper lacus, vel tristique felis nunc in risus.</span>
            </div>
            
            <div class="temp5">
                <img src="image/design6.jpg" alt="" class="img6">
                <h1 class="text2">DISCOVER</h1>
              </div>
        </div>
    </div>

    <%- include("partials/footer");-%>